[Desktop Entry]
Encoding=UTF-8
Name=MX Repo Manager
Name[ca]=MX Repo Manager
Name[cs]=MX Repo Manager
Name[de]=MX Repo Manager
Name[el]=MX Repo Manager
Name[es]=MX Gestionar Repos
Name[fr]=MX Gestionnaire de dépôts
Name[it]=MX Repo Manager
Name[ja]=MX リボジトリマネージャー
Name[lt]=MX Saugyklų tvarkytuvė
Name[nl]=MX Pakketbronbeheer
Name[pt]=MX_Gestor de Repositórios
Name[ru]=MX Менеджер репозиториев
Name[sk]=MX Repo Manager
Name[sv]=MX Repo Manager
Comment=Choose the default APT repo
Comment[ca]=Selecciona el dipòsit APT per omissió
Comment[cs]=Vyberte si z předvolených repozitářů APT
Comment[de]=Wählen Sie das Standard-Repository für APT
Comment[el]=Επιλέξτε την προεπιλεγμένη αποθήκη του APT
Comment[es]=Elija el repositorio APT predeterminado
Comment[fr]=Choissisez le dépôt APT par défaut
Comment[it]=Scegli il repositorio di APT predefinito
Comment[ja]=デフォルト APT レポジトリを選択
Comment[lt]=Pasirinkti numatytąją APT saugyklą
Comment[nl]=Kies de standaard APT pakketbron
Comment[pt]=Para escolher o repositório APT pré-definido
Comment[ru]=Выбор репозитория по умолчанию
Comment[sk]=Vyberte si z predvolených APT repozitárov
Comment[sv]=Välj standard APT förråd
Exec=su-to-root -X -c mx-repo-manager
Terminal=false
Type=Application
Icon=mx-repo-manager
Categories=GNOME;GTK;System;MX-Software;
NoDisplay=false

