[Desktop Entry]
Encoding=UTF-8
Name=MX Repo Manager
Name[ca]=MX Repo Manager
Name[de]=MX Repo Manager
Name[el]=MX Repo Manager
Name[es]=MX Manejador de repositorios
Name[fr]=MX Gestionnaire de dépôts
Name[it]=MX Repo Manager
Name[ja]=MX リボジトリマネージャー
Name[nl]=MX Pakketbronbeheer
Name[ru]=MX Менеджер репозиториев
Name[sv]=MX Repo Manager
Comment=Choose the default APT repo
Comment[ca]=Per triar el dipòsit APT per omissió
Comment[de]=Wählen Sie das Standard-Repository für APT
Comment[el]=Επιλέξτε την προεπιλεγμένη αποθήκη του APT
Comment[es]=Elija el repositorio APT predeterminado
Comment[fr]=Choissisez le dépôt APT par défaut
Comment[it]=Scegli il repositorio di APT predefinito
Comment[ja]=デフォルト APT レポジトリを選択
Comment[nl]=Kies de standaard APT pakketbron
Comment[ru]=Выбор репозитория по умолчанию
Comment[sv]=Välj standard APT förråd
Exec=su-to-root -X -c mx-repo-manager
Terminal=false
Type=Application
Icon=mx-repo-manager
Categories=GNOME;GTK;System;
NoDisplay=false
