[Desktop Entry]
Encoding=UTF-8
Name=MX Repo Manager
Name[ca]=MX Repo Manager
Name[de]=MX Repo Manager
Name[el]=MX Repo Manager
Name[es]=MX Repo Manager
Name[fr]=MX Repo Manager
Name[it]=MX Repo Manager
Name[ja]=MX Repo Manager
Name[nl]=MX Repo Manager
Name[sv]=MX Repo Manager
Comment=Choose the default APT repo
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=su-to-root -X -c mx-repo-manager
Terminal=false
Type=Application
Icon=mx-repo-manager
Categories=GNOME;GTK;System;
NoDisplay=false
